* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/particulas.gif");
}

.title {
  font-size: 80px;
  font-family: "Paytone One", sans-serif;
  color: #0a0a0a;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Paytone One", sans-serif;
}

.cool-link {
  display: block;
  color: #fff !important;
  position: relative;
}

.navbar-toggler {
  filter: invert(100%);
}

.cool-link::after {
  content: "";
  background: #fff;
  mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cool-link:hover::after {
  height: calc(100% + 8px);
}

.modern {
  min-width: 294px;
  padding: 0;
}

.modern::after {
  content: "";
  display: block;
  position: absolute;
  height: 16em;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #0a0a0a;
  z-index: -1;
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

button:focus,
button:active {
  outline: 0px !important;
}

.content-center {
  display: flex;
  height: 82vh;
  width: 100%;
  align-content: center;
  justify-content: left;
  align-items: center;
}

.btn {
  color: #0a0a0a;
  border: 2px solid #0a0a0a;
  border-radius: 50px;
  padding: 15px 25px;
}

.btn:hover {
  color: #fff;
  background-color: #0a0a0a;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
a:focus,
.btn:active,
a:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}

.desc {
  color: #0a0a0a !important;
  font-size: 20px;
}

.box {
  background-color: #0a0a0a;
  width: 125px;
}

.descuento {
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 7px;
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 55px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 40px;
  }
  .desc {
    font-size: 18px;
  }
  .btn {
    font-size: 18px;
  }

  .descuento {
    font-size: 20px;
  }

  img {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 25px;
    text-align: center;
  }

  .desc {
    font-size: 14px;
    text-align: center;
  }
  .btn {
    font-size: 10px;
    text-align: center;
    margin: auto;
  }

  .boton {
    width: 125px;
    margin: auto;
  }

  .descuento {
    font-size: 12px;
    text-align: center;
  }
  .box {
    width: 125px;
    background-color: #0a0a0a;
    margin: auto;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  img {
    width: 70%;
    display: block;
    margin: auto;
  }
}
